<!-- Contact Subpage -->
<section data-id="contact" class="animated-section">
    <div class="page-title">
        <h2>Contact</h2>
    </div>

    <div class="section-content">

        <div class="row">
            <!-- Contact Info -->
            <div class="col-xs-12 col-sm-4">
                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-map-marker"></i>
                    <h4>Bekasi</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-phone-handset"></i>
                    <h4>089659165004</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-envelope"></i>
                    <h4>inurfauzi72@gmail.com</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>

                <div class="lm-info-block gray-default">
                    <i class="lnr lnr-checkmark-circle"></i>
                    <h4>Available</h4>
                    <span class="lm-info-block-value"></span>
                    <span class="lm-info-block-text"></span>
                </div>


            </div>
            <!-- End of Contact Info -->

            <!-- Contact Form -->
            <div class="col-xs-12 col-sm-8">
                <!-- <div id="map" class="map"></div> -->
                <div class="block-title">
                    <h3>How Can I <span>Help You?</span></h3>
                </div>

                <div class="my-alert alert alert-success" style="display:none;" role="alert">
                    <span aria-hidden="true" class="closebtn">&times;</span>
                    <p><strong>Thank You !</strong> Your message has been received.</p>
                </div>

                <form id="contact_form" class="contact-form" name="my-contact-form">

                    <div class="messages"></div>

                    <div class="fields clearfix">

                        <div class="form-group form-group-with-icon">

                            <input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Enter name.">
                            <label>Name</label>
                            <div class="help-block with-errors"></div>
                            <div class="form-control-border"></div>
                        </div>

                        <div class="form-group form-group-with-icon">
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Enter email.">
                            <label>Email</label>
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group form-group-with-icon">
                            <input id="form_subject" type="text" name="subject" class="form-control" placeholder="" required="required" data-error="Enter Subject.">
                            <label>Subject</label>
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group form-group-with-icon">
                            <textarea id="form_message" name="message" class="form-control" placeholder="" rows="7" required="required" data-error="Leave a message."></textarea>
                            <label>Message</label>
                            <div class="form-control-border"></div>
                            <div class="help-block with-errors"></div>
                        </div>

                    </div>

                    <!-- <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div> -->

                    <input type="submit" class="btn btn-send">
                    <button class="btn btn-loading btn-primary d-none" type="button" disabled>
                          	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>
            </div>
            </form>
        </div>
        <!-- End of Contact Form -->
    </div>

    </div>
</section>
<!-- End of Contact Subpage -->