<!-- Arrows Nav -->
<div class="lmpixels-arrows-nav">
    <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
    <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
</div>
<!-- End Arrows Nav -->

<div class="content-area">
    <div class="animated-sections">

        <?php include "views/home.html" ; ?>
        <?php include "views/aboutme.html" ; ?>
        <?php include "views/resume.html" ; ?>
        <?php include "views/portfolio.html" ; ?>
        <?php include "views/blog.html" ; ?>
        <?php include "views/contact.html" ; ?>

    </div>
</div>