<!-- Resume Subpage -->
<section data-id="resume" class="animated-section">
    <div class="page-title">
        <h2>Resume</h2>
    </div>

    <div class="section-content">

        <div class="row">

            <div class="col-xs-12 col-sm-7">

                <div class="block-title">
                    <h3>Education</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2016 - 2019</h5>
                            <span class="item-company">Astra Manufacture Polytechnic, Jakarta</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">Mechatronics Engineering</h4>
                            <p>
                                <li>Learning about general concepts, engineering design principles required in the Industrial Automation field.</li>
                                <li>Learning about general theoretical concepts of testing and measurement methods in the field of mechatronics.</li>
                                <li>Learning the concept of designing and implementing Integrated Systems in industrial equipment based on PLC, Robotics and SCADA in theory and practice.</li>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2013 - 2016</h5>
                            <span class="item-company">Tinta Emas Indonesia Vocational High School, Bekasi</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">Audio Video Technique</h4>
                            <p>Applying the basics of Electricity, Electronics, Digital Engineering, Occupational Safety and Health (K3).</p>
                        </div>
                    </div>
                </div>

                <div class="white-space-50"></div>

                <div class="block-title">
                    <h3>Experience</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">October 2019 - 2021</h5>
                            <span class="item-company">PT Astra Daido Steel Indonesia</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">Maintenance Staff</h4>
                            <p>
                                <li>Factory preventive action implement by schedule.</li>
                                <li>Perform corrective action for all machine in process area.</li>
                                <li>Periodically reporting for asset & sparepart availability.</li>
                                <li>Annualy maintenance budget reporting & monitoring.</li>
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">January 2019 - September 2019</h5>
                            <span class="item-company">PT United Tractors Pandu Engineering</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">Research & Development Intern</h4>
                            <p>
                                <li>Develop Tower Lamp Automation based on Microcontroller.</li>
                                <li>Develop Autonomous Vehicle Prototype based on Microcontroller & ROS.</li>
                            </p>
                        </div>
                    </div>

                    <!-- <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2011 - 2013</h5>
                            <span class="item-company">Google</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Junior Ui/Ux Designer</h4>
                            <p>Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue vitae nunc ac, sodales ultricies diam. Nullam justo leo, tincidunt sit amet.</p>
                          </div>
                        </div> -->

                </div>
                <div class="white-space-50"></div>
            </div>


            <!-- Skills & Certificates -->
            <div class="col-xs-12 col-sm-5">

                <!-- Programming Skills -->
                <div class="block-title">
                    <h3>Programming <span>Skills</span></h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 1 -->
                    <div class="skill clearfix">
                        <h4>C</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 95%;">></div>
                    </div>
                    <!-- End of Skill 1 -->

                    <!-- Skill 2 -->
                    <div class="skill clearfix">
                        <h4>Python</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 90%;"></div>
                    </div>
                    <!-- End of Skill 2 -->

                    <!-- Skill 3 -->
                    <div class="skill clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">88%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 88%"></div>
                    </div>
                    <!-- End of Skill 3 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>Javascript</h4>
                        <div class="skill-value">93%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 93%"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>Java</h4>
                        <div class="skill-value">88%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 88%"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <div class="skill clearfix">
                        <h4>SQL</h4>
                        <div class="skill-value">99%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-info" style="width: 99%"></div>
                    </div>
                    <!-- End of Skill 4 -->

                </div>
                <!-- End of Design Skills -->



                <!-- Engineering Skills -->
                <div class="block-title">
                    <h3>Engineering <span>Skills</span></h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 5 -->
                    <div class="skill clearfix">
                        <h4>Mechatronics Engineering</h4>
                        <div class="skill-value">99%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-warning" style="width: 99%"></div>
                    </div>
                    <!-- End of Skill 5 -->

                    <!-- Skill 6 -->
                    <div class="skill clearfix">
                        <h4>Maintenance Engineering</h4>
                        <div class="skill-value">99%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-warning" style="width: 99%"></div>
                    </div>
                    <!-- End of Skill 6 -->

                    <!-- Skill 7 -->
                    <div class="skill clearfix">
                        <h4>Design Engineering</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-warning" style="width: 90%"></div>
                    </div>
                    <!-- End of Skill 7 -->

                    <!-- Skill 8 -->
                    <div class="skill clearfix">
                        <h4>Automation</h4>
                        <div class="skill-value">93%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-warning" style="width: 93%"></div>
                    </div>
                    <!-- End of Skill 8 -->

                    <!-- Skill 9 -->
                    <div class="skill clearfix">
                        <h4>IOT</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-warning" style="width: 95%"></div>
                    </div>
                    <!-- End of Skill 9 -->

                </div>


                <div class="white-space-10"></div>

                <!-- IS Skills -->
                <div class="block-title">
                    <h3>Information System <span>Skills</span></h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 5 -->
                    <div class="skill clearfix">
                        <h4>Bussiness Analyst</h4>
                        <div class="skill-value">75%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-danger" style="width: 75%"></div>
                    </div>
                    <!-- End of Skill 5 -->

                    <!-- Skill 6 -->
                    <div class="skill clearfix">
                        <h4>System Development Life Cycle</h4>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-danger" style="width: 80%"></div>
                    </div>
                    <!-- End of Skill 6 -->

                    <!-- Skill 7 -->
                    <div class="skill clearfix">
                        <h4>Waterfall & Agile Methodology</h4>
                        <div class="skill-value">89%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-danger" style="width: 89%"></div>
                    </div>
                    <!-- End of Skill 7 -->

                    <!-- Skill 8 -->
                    <div class="skill clearfix">
                        <h4>Database Management System</h4>
                        <div class="skill-value">99%</div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-percentage bg-danger" style="width: 99%"></div>
                    </div>
                    <!-- End of Skill 8 -->

                </div>
                <!-- End of IS Skills -->




                <div class="white-space-10"></div>

                <!-- Knowledges -->
                <div class="block-title">
                    <h3>Ability</h3>
                </div>

                <ul class="knowledges">
                    <!-- <li>Electrical</li>
                        <li>Mechanical</li>
                        <li>Informatics</li>
                        <li>Engineering</li>
                        <li>Research & Development</li> -->
                    <li>Problem Solving</li>
                    <li>Time Management</li>
                    <li>Communication</li>
                    <li>Collaboration</li>
                    <li>Creativity</li>
                    <li>Flexibility</li>


                </ul>
                <!-- End of Knowledges -->
            </div>
            <!-- End of Skills & Certificates -->
        </div>

        <div class="white-space-50"></div>

        <!-- Certificates & Awards-->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>Certificates</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Certificate 1 -->
            <div class="col-xs-12 col-sm-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="img/certificates/bnsp.jpg" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>BNSP Competence Level-3 for Area Mantenance and Diagnostics</h4>
                        </div>
                        <div class="certi-id">
                            <span>Indonesian Professionals Certification Body Metalworks and Machinery.                            
                            </span>
                        </div>
                        <div class="certi-date">
                            <span>ID: 29100 7240 18 0 0043476 2019</span>
                        </div>
                        <div class="certi-company">
                            <span>BNSP</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 1 -->


            <!-- Certificate 2 -->
            <div class="col-xs-12 col-sm-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="img/certificates/ssi.jpg" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>Technology and Engineering Competence</h4>
                        </div>
                        <div class="certi-id">
                            <span>Audio Video & Electrical Technique. </span>
                        </div>
                        <div class="certi-date">
                            <span>ID : 03-186-020-58</span>
                        </div>
                        <div class="certi-company">
                            <span>PT SSi Solution Indonesia</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 2 -->


            <!-- Certificate 3 -->
            <div class="col-xs-12 col-sm-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="img/certificates/iep.jpg" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>Intensive English Programs</h4>
                        </div>
                        <div class="certi-id">
                            <span>English Certified for Proficient. </span>
                        </div>
                        <div class="certi-date">
                            <span>ID : 100/IEP.XII/CR/12</span>
                        </div>
                        <div class="certi-company">
                            <span>IEP</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 2 -->


            <!-- Certificate 4 -->
            <div class="col-xs-12 col-sm-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="img/certificates/sumo.jpg" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>Bekasi Robotic Competition</h4>
                        </div>
                        <div class="certi-id">
                            <span>3rd Winner of Bekasi City Sumo Robot Competition </span>
                        </div>
                        <div class="certi-date">
                            <span></span>
                        </div>
                        <div class="certi-company">
                            <span>Robotic Explorer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 2 -->




        </div>
        <!-- End of Certificates -->
    </div>
</section>
<!-- End of Resume Subpage -->